
<h1>List of all directors</h1>

<hr>
<table border = "1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

<tr>
<% Director.all.each do |director|%>
<th><%= director.id %></th>
<th><img src="<%= director.image %>" alt="picture of <%= director.name %>%>"></th>
<th><%= director.name %></th>
<th><%= director.dob %></th>
<th><a href="directors/<%= director.id %>">Show details</a></th>
</tr>
<%end%>
</table>
